<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
          package="com.demo.pet.petapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />

    <application
        android:name=".PetApplication"
        android:icon="@drawable/dog_sit_speaking"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:fullBackupContent="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:icon="@drawable/icon_type_1"
            android:label="@string/main_activity_label"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask"
            android:exported="true"
            android:banner="@drawable/dog_sit_speaking">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/AppTheme.Fullscreen"
            android:name=".MainActivity2"
            android:icon="@drawable/icon_type_2"
            android:label="@string/main_activity_2_label"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask"
            android:exported="true"
            android:banner="@drawable/dog_sit_speaking">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/AppTheme.Fullscreen"
            android:name=".MainActivity3"
            android:icon="@drawable/icon_type_3"
            android:label="@string/main_activity_3_label"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask"
            android:exported="true"
            android:banner="@drawable/dog_sit_speaking">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".OverlayService"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name=".OverlayService3"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".BlackScreenActivity"
            android:label="@string/title_activity_black_screen"
            android:icon="@mipmap/ic_launcher_blackscreen"
            android:banner="@mipmap/ic_launcher_blackscreen"
            android:theme="@style/AppTheme.Fullscreen"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
