<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.demo.pet.petapp"

    android:versionCode="41"
    android:versionName="3.1.0-41"
>

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />

    <application
        android:name=".PetApplication"
        android:icon="@drawable/dog_sit_speaking"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:fullBackupContent="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:theme="@style/AppTheme.Fullscreen"
            android:name=".MainActivity3"
            android:icon="@drawable/dog_sit_speaking"
            android:label="@string/main_activity_3_label"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask"
            android:exported="true"
            android:banner="@drawable/dog_sit_speaking">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/AppTheme.Fullscreen"
            android:name=".UserDefinitionConversationsEditorActivity"
            android:icon="@drawable/dog_sit"
            android:label="@string/user_definition_conversations_editor_activity_label"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".OverlayService3"
            android:enabled="true"
            android:exported="false"/>

    </application>

</manifest>
